@font-face {
  font-family: 'Avenir';
  src: 
    local('Avenir-Regular'),
    url('./fonts/AvenirNextLTPro-Regular.otf') format('opentype');
}

@font-face {
  font-family: 'Avenir-Medium';
  src: 
    local('Avenir-Medium'),
    url('./fonts/Avenir-Medium.otf') format('opentype');
}

@font-face {
  font-family: 'Avenir-Bold';
  src:
    local('Avenir-Bold'),
    url('./fonts/AvenirNextLTPro-Bold.otf') format('opentype');
}

@font-face {
  font-family: 'Avenir-Italicize';
  src:
    local('Avenir-Italicize'),
    url('./fonts/AvenirNextLTPro-It.otf') format('opentype');
}

body {
  margin: 0;
  font-family: 'Avenir';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
