.vrana-nav-image {
    height: auto;
    max-width: 20%;
    margin-right: 10%;
}

.navigation-bar {
    background-color: whitesmoke;
    padding-left: 10%;
    padding-top: 1%;
    padding-bottom: 1%;
    display: flex;
    align-items: center;
    min-width: 100%;
}

.nav-link {
    text-decoration: none;
    font-family: 'Avenir-Medium';
    font-size: 0.90vw;
    color: #4B4A4A;
    margin-left: 3%;
}

.nav-link-div {
    min-width: 75%;
}